/*div , header {
    border: 1px solid red;
}*/

/*stilos letras*/
.main-text{
    color: aliceblue;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}


/*flex-general*/
.contenedor {
    display: flex;  
    font-family: Arial, Helvetica, sans-serif;
  
}
/*header y hero*/
.hero {
    border: 1px solid rgb(51, 13, 13);
    background-color: #1F2937;
    color: aliceblue; 
    padding-left: 130px;
    padding-right: 130px;
    margin-left: -33px;
    margin-right: -33px;
    margin-top: -20px;
}

.links{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    flex: 2 1 0%;
    justify-content: flex-end;
}

.he {
    padding: 10px;
}

/*firts zone*/
.first{
    flex: 1;
    display: block;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 60px;
}
.first > h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
}
.first > button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    color: aliceblue;
}

.initial_ima {
    display: flex;
    justify-content: end; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    overflow: hidden;        /* para recortar si la imagen se sale */
}


.initial_ima > img{
    width: 90%;
    height: 80%;
    border-radius: 6px;
}

/*Zona informacion*/
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900px;
    font-family: Arial, Helvetica, sans-serif;
}

.info_column {
    display: flex;
    gap: 40px;
}

.info_img {
    width: 250px;
    height: 300px;    
}

.info_img > img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 5px solid #3882F6;
}

.info_text {
    color: rgb(113, 117, 121);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/*zona quote*/
.quote_back {
    display: flex;
    background-color: #E5E7EB;
    color: rgb(0, 0, 0); 
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 130px;
    padding-right: 130px;
    margin-left: -33px;
    margin-right: -33px;
    margin-top: 120px;
}

.quote {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.quote > p {
    position: relative;
    top: -40px;
    font-size: 24px;
    color: #616161;
    font-weight: lighter;
}

.quote > h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
}

/*Zona llamada accion*/
.call {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif; 
    padding-left: 130px;
    padding-right: 130px;
    margin-left: -33px;
    margin-right: -33px;
    margin-top: 60px;
}

.call_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding-left: 30px;
    padding-right: 30px;

    background-color: #3882F6;
    width: 1200px;
    height: 120px;
    border-radius: 8px;
}


.call_button > button {
    background-color: #3881f600;
    border: 3px solid;
    border-radius: 5px;
    border-color: #ffffff;
    width: 100px;
    height: 30px;
    font-weight: bold;
    color: aliceblue;
}

.call_text > h3 {
    font-size: 24px;
    font-weight: 300px;
}